/*
 * News headlines project b92
 */

header{
  text-align: center;
  background-color: #6f42c1;
  h1{
    margin-bottom: 0;
    color: $white;
  }
}
.l-block-list{
  padding: 0;
  margin: 0;
  li{
    display: block;
  }
}
.l-head-top{
  margin:0;
  .l-head-top-lead{
    padding: 0;
  }
  .l-head-top-latest{
    @include media-breakpoint-down(sm){
      display: none;
    }
  }
  .small-text{
    @include media-breakpoint-down(sm){
      display: none;
    }
  }
}
.l-head-mid{
  .news-image{
    @include media-breakpoint-down(xs){
      float: right;
      width: 50%;
    }
  }
  .text-block{
    @include media-breakpoint-down(xs){
      float: left;
      width: 50%;
    }
  }
  .video-link,
  .comments{
    @include media-breakpoint-down(xs){
      display: none;
    }
  }
  .u-overlay{
    @include media-breakpoint-down(sm){
      position: static;
    }
  }
  .news-text{
    @include media-breakpoint-down(sm){
      position: static;
    }
  }
  .small-text{
      display: none;
  }
}
.l-head-low{
  .news-image{
    @include media-breakpoint-down(xs){
      float: right;
      width: 50%;
    }
  }
  .text-block{
    @include media-breakpoint-down(xs){
      float: left;
      width: 50%;
    }
  }
  .video-link,
  .comments{
    @include media-breakpoint-down(xs){
      display: none;
    }
  }
  .u-overlay{
    display: none;
  }
  .news-text{
    position: static;
  }
  .small-text{
      display: none;
  }
}
footer{
  text-align: center;
  margin:0;
  padding: 0;
  background-color: #6f42c1;
  color: $white;
  a{
    color: $white;
  }
}
.slider-section{
  text-shadow: rgba(0, 0, 0, 0.85) 1px 1px 1px;
}






