/*
 * Project b92
 */
.u-overlay {
  background-image: linear-gradient(4deg, rgba(12, 10, 19, 0.8) 0%, rgba(12, 10, 19, 0.45) 25%, rgba(0, 0, 0, 0.1) 45%, transparent 55%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
