/*
 * Project b92
 */
// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
.l-head-top{
  h2, p {
    line-height: 1em;
  }
  @include media-breakpoint-up(xs) {
    h2{
      font-size: 1.5em;
    }
  }
  @include media-breakpoint-up(sm) {
    h2{
      font-size: 2em;
    }
  }@include media-breakpoint-up(md) {
     h2{
       font-size: 2em;
     }
   }@include media-breakpoint-up(lg) {
      h2{
        font-size: 2em;
      }
    }
}
.l-head-mid {
  h2, p {
    line-height: 1em;
  }
  @include media-breakpoint-up(xs) {
    h2{
      font-size: 1em;
      a{
        color: #000;
      }
    }
  }
  @include media-breakpoint-up(sm) {
    h2{
      font-size: 1.2em;
    }
  }@include media-breakpoint-up(md) {
     h2{
       font-size: 1.2em;
       a{
         color: $white;
       }
     }
   }
  @include media-breakpoint-up(lg) {
      h2{
        font-size: 1.2em;
      }
    }
}
.l-head-low {
  h2, p {
    line-height: 1em;
    a{
      color: #000;
    }
  }
  @include media-breakpoint-up(xs) {
    h2 {
      font-size: 1em;
    }
  }
  @include media-breakpoint-up(sm) {
    h2 {
      font-size: 1em;
    }
  }
  @include media-breakpoint-up(md) {
    h2 {
      font-size: 1.2em;
    }
  }
  @include media-breakpoint-up(lg) {
    h2 {
      font-size: 1.2em;
    }
  }
}
.slider-section{
  @include media-breakpoint-up(xs) {
    h3 {
      font-size: 1em;
    }
  }
  @include media-breakpoint-up(sm) {
    h3 {
      font-size: .2em;
    }
  }
  @include media-breakpoint-up(md) {
    h3 {
      font-size: 2em;
    }
  }
  @include media-breakpoint-up(lg) {
    h3 {
      font-size: 3em;
    }
  }
}

