/*
 * Project b92
 */

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.l-head-top,
.l-head-mid,
.l-head-low{
  @include make-row();
}
.l-head-top-lead{
  @include make-col-ready();
  @include media-breakpoint-up(xs) {
    @include make-col(12);
  }
  @include media-breakpoint-up(md) {
    @include make-col(8);
  }
}
.l-head-top-latest{
  @include make-col-ready();
  @include media-breakpoint-up(xs) {
    @include make-col(12);
  }
  @include media-breakpoint-up(md) {
    @include make-col(4);
  }
}
.l-head-mid{
  li{
    margin: .5em 0;
    @include make-col-ready();
    @include media-breakpoint-up(xs) {
      @include make-col(12);
    }
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
  }
}
.l-head-low{
  li{
    margin: .5em 0;
    @include make-col-ready();
    @include media-breakpoint-up(xs) {
      @include make-col(12);
    }
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    @include media-breakpoint-up(md) {
      @include make-col(3);
    }
  }
}