/*
 * Project b92
 */
.news-item {
  text-shadow: rgba(0, 0, 0, 0.85) 1px 1px 1px;
  color: $white;
  position: relative;
  h2 {
    margin-bottom: 0;
    a {
      color: $white;
    }
  }
  p {
    margin-bottom: 0;
    font-size: .875rem;
    font-family: $font-family-sans-serif;
  }
  .video-link,
  .comments{
    position: absolute;
    background-color: $red;
    top: 1em;
    a {
      color: $white;
      padding: 1em;
    }
  }
  .video-link{
    left: 1em;
  }
  .comments{
    right: 1em;
  }
  .news-text{
    position: absolute;
    bottom: 1em;
    left: 1em;
    right: 1em;
  }
  .news-image {
    a {
      display: block;
    }
    img {
      width: 100%;
    }
  }
  .l-news {
    width: 100%;
  }
  .category{
    color: $orange;
  }
}