/*
 * Project b92 - Isotope
 */

.isotope{

}
.isotope-buttons{
  button:hover{
    cursor: pointer;
  }
}
.isotope-item{
  width: 20%;
  padding: .5em;
}
.isotope-item--width-2{
  width: 40%;
}
.iso-bg1{
  background-color: #d39e00;
}
.iso-bg2{
  background-color: #6c757d;
}
.iso-bg3{
  background-color: #17a2b8;
}




